:root {

  --color-1: #3f3d56;

  --color-2: #ff6584;

  --color-3: #67d0ff;

  --color-4: #000123;

  --font-1: 'Lato' , sans-serif;

  --font-2: 'Montserrat' , sans-serif;

  --font-3: 'Roboto' , sans-serif;

  --font-4: arial;

}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: var(--font-3);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}
