.navbar {
  align-items: center;
  background-color: var(--color-1);
  color: var(--color-3);
  display: flex;
  height: 50px;
}

/* .navbar a {
  color: var(--color-3);
  text-decoration: none;
} */

.navbar-product {
  align-items: center;
  background-color: var(--color-2);
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 10%;
}

.navbar-meus-pedidos {
  align-items: center;
  background-color: var(--color-3);
  color: var(--color-1);
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 30%;
}

.navbar-name {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 50%;
}

.navbar-pedidos {
  align-items: center;
  background-color: var(--color-3);
  color: var(--color-1);
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 40%;
}

.navbar-logout {
  background-color: red;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 10%;
}
