.customer-products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  margin: auto;
  padding: 30px 10px;
  width: 85%;
}

.product-card {
  align-items: center;
  background-color: white;
  border: 1px solid #e1e5eb;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 6%) , 0 1px 3px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  width: 250px;
}


.product-card-image {
  height: 150px;
}

.product-card-buttons {
  align-items: baseline;
  display: flex;
}

.product-card-buttons input {
  border: 1px solid var(--color-1);
  border-radius: 0;
  height: 20px;
  text-align: center;
  width: 50px;
}

.product-card-buttons input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.product-card-buttons input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.minus-btn {
  background-color: var(--color-1);
  border: none;
  border-radius: 5px 0 0 5px;
  color: white;
  font-weight: 800;
  height: 20px;
  width: 20px;
}

.plus-btn {
  background-color: var(--color-1);
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  height: 20px;
  width: 20px;
}
